.campaigns-main{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    align-self: center;

}

.campaign-box{
    border: #282c34 2px solid;
    border-radius: 10%;
    width: 300px;
    height: 400px;
    margin: 20px;
}

.campaign-box:hover{
    background-color: lightslategray;
    cursor: pointer;

}

.campaign-box img{
    margin-top: 5%;
    width: 70%;
    height: 30%;
}

.campaign-modal{
    width: 100vw;
    height: 100vh;
    background-color: grey;
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 80%;
    transition: 0.5s;
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: show ease-in-out 0.3s;
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 80%;
    }
}

.campaign-modal-content{
    position: absolute;
    top: 20%;
    background-color: #282c34;
    width: 350px;
    height: 450px;
    z-index: 2;
    border-radius: 10%;
    animation: show ease-in-out 0.3s;
}